<h1>Vinkit</h1>
<!--Tässä tulostuu jokainen vinkki-->
#foreach($vinkki in $list)
<button id="titleButton" type="button" class="collapsible">$vinkki.title</button>
<div class="content" id="listwrapper">
    <!--tässä kohdassa tarkistetaan, että sisältääkö linkki sanan http ja sen mukaisesti linkin käsketään avautua omaan tabiin joko http lisättynä tai ei-->
    <div class="listitemLink"> 
        #if ($vinkki.link.contains("http")) <a href=$vinkki.link target="_blank">$vinkki.link </a>
        #else<a href=http://$vinkki.link target="_blank">$vinkki.link </a> 
        #end
    </div><br>

    <div class="listitemDescription">Kuvaus: $vinkki.description</div>
    <div class="listitemTags">Tägit:  #foreach($tagi in $vinkki.tagsList)
        <div class="chip">
            $tagi
        </div>
        #end
    </div>
    <!--haetaan tietokannasta tieto, onko vinkki luettu ja lisätään nappi sen mukaan-->
    <div id="readornot">
        #if ($vinkki.readDate.contains("Ei luettu"))
        <div class="listitemRead" id ="notread">
            <div class="listitemRead" id ="notread">
                <p>Ei luettu</p>
                <form id="readForm" action="/list" method="POST"  name="readForm" >
                    <input type="hidden" id="readDateTitle" name="readDateTitle" value=$vinkki.title>
                    <input id="readSend" type="submit" value="Merkitse luetuksi" />
                </form><br>
            </div>
            #else
            <div class="listitemRead" id ="read">
                <p>Luettu: $vinkki.readDate</p>
                <form id="notReadForm" action="/list1" method="POST">
                    <input type="hidden" id="removeReadDate" name="removeReadDate" value=$vinkki.title>
                    <input id="notReadSend" type="submit" value="Poista lukupäivämäärä" />
                </form><br>
                #end
            </div>
            <br>
            <div class="listitemDate">Lisätty: $vinkki.creationDate</div>
        </div>
    </div>
    #end

    <!--kokeilukoodi alla-->

    <!--Collapsible koodi osoitteesta https://www.w3schools.com/howto/howto_js_collapsible.asp-->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

